@charset "utf-8";
/* 滚动基础模块 基础模块*/
/*精品推荐*/
.carousel{ padding:10px 0px 10px 5px;height:80px; overflow:hidden; border:1px solid #ddd;}
.prev{ float:left; background:url(arr.gif) no-repeat 0px -30px; width:24px; height:80px; cursor:pointer; padding-left:3px;}
.jCarouselLite{ float:left; width:480px;}
.jCarouselLite li{ padding-left:10px;}
.next{ float:left; background:url(arr.gif) no-repeat -24px -30px; width:24px; height:80px; margin-left:8px;_margin-left:8px; cursor:pointer;}
.next:hover{ background:url(arr.gif) no-repeat -24px -167px;}
.prev:hover{ background:url(arr.gif) no-repeat 0px -167px;}
.txt_ad{ height:25px; line-height:25px; font-weight:bold;}