@charset "utf-8";
/* 焦点图 */


#mum{display:block;width:100%;background:#000; position:absolute; bottom:0; left:0; height:20px;z-index:2;background:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000')}
:root #mum{filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#4c000000', EndColorStr='#4c000000')}
#mum dt{display:block;overflow:hidden;float:left;width:70%;line-height:20px;}
#mum dt a{display:block;color:#fff;padding:0 10px;overflow:hidden; white-space:nowrap;text-overflow: ellipsis;}
#mum dd {cursor:pointer; float:right; line-height:15px; text-align:center; font-size:12px; width:25px; height:10px; cursor:pointer; overflow:hidden; background:#919191; margin:5px 4px 0 0; filter:alpha(opacity=80); -moz-opacity:.8; opacity:.8; -webkit-transition:All .5s ease;-moz-transition:All .5s ease;-o-transition:All .5s ease}
#mum dd.active { background:#fff; filter:alpha(opacity=100); -moz-opacity:1; opacity:1 }
