@charset "utf-8";
/* 滑动门 弹出层*/
*html body{background-image: url(about:blank);background-attachment: fixed;}/*ie6*/
:root .popboxbg{ filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#00000000', EndColorStr='#00000000');}
.fullbox,.popbox{position:fixed;_position: absolute;display:none;}
.fullbox{width:100%;height:100%;left:0;top:0;background:#000;filter:alpha(opacity=70);opacity:0.7; z-index:999;}
.popbox{left:50%;top:50%;background:#fff; z-index:1000;/*ie6*/_top:expression(documentElement.scrollTop +200 +"px");}