@charset "utf-8";
/* 滑动门 基础模块*/
.hu-tab,.hu-tab dd{display:block;}
.hu-tab dt{text-align:center;}
.hu-tab dt a{display:inline-block; }
.hu-tab dt a.tabIn{}
/* 用户配置 */
#tab dt{border-top:1px solid #D2E1F1;border-right:1px solid #D2E1F1;background-color:#f7faff;}
#tab dt a{height:28px;width:78px;line-height:28px;color:#666;border-left:1px solid #e0e6f0;border-bottom:1px solid #e0e6f0;}
#tab dd{padding:10px;border-top:0;color:#666;line-height:1.8;border:1px solid #e0e6f0;}
#tab dt a.tabIn{border-bottom-color:#f7faff;font-weight:700;}

